.swiper-slide {
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  .blue-button {
    background-color:  #3498db; 
    opacity: 80%;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .blue2-button {
    background-color:  #3498db; 
    opacity: 80%;
    color: white;
    padding: 11px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .blue3-button {
      background-color:  #3498db; 
      opacity: 80%;
      color: white;
      padding: 11px 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .grey-button {
        background-color:  #989ca0; 
        opacity: 60%;
        color: white;
        padding: 11px 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
  


body {
    margin: 10;
    padding: 0;
    font-family: Arial, sans-serif;
}


#team {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.team-member {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 10px;
}

.team-member img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
        
h2 {
    text-align: center;
    font: bold;
    
    }

    header {
        margin-top: -5%;
    }
  
  .logo img {
      height: 70px; 
      margin-bottom: 15px;
      margin-left: 20px;
      
  }
  .custom-bg-color {
    background-color: #ADD8E6; 
    
  }
  